{% extends 'base-with-sidenav.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Header image -->
<div class="portfolio-image ui-rect ui-rect-30 ui-bg-cover" style="background-image: url({% static 'assets/img/course/course-bg.jpg' %});"></div>

<!-- Content -->
<div class="bg-white">
  <div class="container px-3">
    <div class="col-lg-10 col-xl-8 py-5 px-0 mx-auto">

      <!-- Article caption -->
      <div class="pb-5">
        <div class="text-muted text-tiny mb-2">{{ course.pub_date|naturalday }}</div>
        <h1 class="font-weight-bold">
          {{ course.name }}
        </h1>
        <p class="text-muted">Преподаватель: <a href="{% url 'teacher' course.teacher.id %}"><span class="text-dark">{{course.teacher.name}}</span></a></p>
        <div class="d-flex small">
          <a href="#" class="badge badge-outline-default d-block font-weight-normal mt-2 mr-2">{{ course.get_specialization }}</a>
        </div>
      </div>
      <!-- / Article caption -->

      {{ course.description|safe }}

      {% if request.user.type == 'PR' %}
        {% if request.user.student in course.students.all %}
          <button class="btn btn-info btn-lg mt-5" disabled>Заявка принята!</button>
        {% elif not request.user.student in course.requests.all %}
          <form action="{% url 'course' course.id %}" method="POST">
            {% csrf_token %}
            <button name="apply" type="submit" class="btn btn-success btn-lg mt-5">Подать заявку</button>
          </form>
        {% else %}
          <button class="btn btn-success btn-lg mt-5" disabled>Заявка подана!</button>
        {% endif %}
      {% endif %}
      {% if course.school == request.user.school %}
        <a href="{% url 'edit_course' course.id %}" class="btn btn-warning btn-round text-dark mt-4">Редактировать</a>
      {% endif %}
    </div>
  </div>
</div>


<h4 class="font-secondary text-center font-weight-semibold py-5 m-0">ОТЗЫВОВ: <span class="text-light">{{ course.feedback_set.all | length}}</span></h4>

<div class="container px-3">
  <div class="col-lg-10 col-xl-8 px-0 mx-auto">

    {% for feedback in course.feedback_set.all %}
      <div class="bg-white small mb-4">
        <div class="p-4">
          <div class="media align-items-center">
            <img src="assets/img/avatars/12-small.png" alt class="d-block ui-w-40 rounded-circle">
            <div class="media-body ml-3">
              <div class="text-dark font-weight-semibold">{{feedback.author_name}}</div>
              <div class="text-muted small">{{feedback.pub_date.date}}</div>
            </div>
          </div>
          <hr>
          {{feedback.content|safe}}
        </div>
      </div>
    {% endfor %}
    <!-- Form -->
    <h5 class="font-secondary font-weight-semibold pt-5 mb-4">ОСТАВЬТЕ ОТЗЫВ</h5>
    <form class="pb-5" action="{% url 'course' course.id %}" method="POST">
      {% csrf_token %}

      <div class="form-row">
        <div class="form-group col-md-12">
          <input type="text" name="author_name" class="portfolio-form-control form-control form-control-lg rounded-0" placeholder="Как в вам обращаться?" value="{{request.user.student.name}}">
        </div>
      </div>
      <div class="form-group">
        <textarea name="content" rows="6" class="portfolio-form-control form-control form-control-lg rounded-0" placeholder="СООБЩЕНИЕ"></textarea>
      </div>
      <button type="submit" name="send_feedback" class="btn btn-primary btn-lg rounded-0 font-weight-semibold">ВЫЛОЖИТЬ</button>
    </form>
    <!-- / Form -->

  </div>
</div>

{% endblock %}
