{% extends 'base-with-sidenav.html' %}

{% block content %}

<!-- Layout content -->
<div class="layout-content">

  <!-- Content -->
  <div class="container-fluid flex-grow-1 container-p-y">

    <h4 class="font-weight-bold py-3 mb-4">
      Курс - <span class="text-muted">{{course.name}}</span>
    </h4>

    <form action="{% if course %}{% url 'edit_course' course.id%}{% else %}{% url 'add_course' %}{% endif %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card">
        <div class="card-body media align-items-center">
          <img src="/media/{{request.user.image}}" class="d-block ui-w-40 rounded-circle" alt="">
          <div class="media-body ml-3">
            <a href="javascript:void(0)" class="d-block text-dark">
              <strong>{{request.user.name}}</strong>
            </a>
            {{course.pub_date}}
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body pb-2">
          <div class="form-group">
            <label class="form-label">Название</label>
            <input name="name" type="text" class="form-control" value="{{course.name}}">
          </div>
          <div class="form-group">
            <label class="form-label">Краткое описание</label>
            <input name="short_desc" type="text" class="form-control" value="{{course.short_desc}}">
          </div>
          <div class="form-group">
            <label class="form-label">Описание</label>
            <textarea name="description" class="form-control" id="mytextarea">{{course.description | safe}}</textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Специализация</label>
            <select name="specialization" class="form-control" required>
              {% for code, specialization in SPECIALIZATION %}
                <option value="{{code}}">{{specialization}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label class="form-label">Учитель</label>
            <select name="teacher_id" class="form-control" required>
              {% for teacher in school.teacher_set.all %}
                <option value="{{teacher.id}}">{{teacher.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label class="form-label">Максимальное количество детей</label>
            <input name="max_count" type="number" class="form-control" value="{{course.max_count}}">
          </div>
        </div>
      </div>

      <div class="text-right mt-3">
        {% if course %}
          <button type="submit" name="delete" class="btn btn-danger">Удалить</button>
        {% endif %}
        <button type="submit" name="save" class="btn btn-primary">Сохранить</button>&nbsp;
      </div>
    </form>

  </div>
  <!-- / Content -->
</div>
<!-- Layout content -->

<script src="https://cdn.tiny.cloud/1/8ljhhcb398ijjqgrxg4xuknn9u6ygpg9v1f5s5auyh8n7c6h/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
  tinymce.init({
    selector: '#mytextarea',
    plugins: 'autoresize',
  });
</script>

{% endblock %}
