{% extends 'base-with-sidenav.html' %}

{% block content %}

<div class="layout-content">

  <!-- Content -->
  <div class="container-fluid flex-grow-1 container-p-y">

    <h4 class="d-flex flex-wrap justify-content-between align-items-center w-100 font-weight-bold pt-2 mb-4">
      <div class="col-12 col-md px-0 pb-2">Мои курсы</div>
      <div class="col-12 col-md-3 px-0 pb-2">
        <input type="text" class="form-control" placeholder="Поиск...">
      </div>
    </h4>

    {% for course in courses %}
      <div class="d-flex py-3 my-4 justify-content-between">
        <h6 class="text-muted small font-weight-bold">
          {{ course.name }}
        </h6>
        {% if request.user.type == "SH" %}
        <a class="small" href="{% url 'edit_course' course.id %}"> Редактировать</a>
        {% endif %}
      </div>
      <div class="card">
        <div class="card-header">Список на {{today}}</div>
        <table class="table card-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Имя</th>
              <th>Школа</th>
              <th>Телефон</th>
              <th>Почта</th>
              <th>Телефон родителя</th>
              <th>Присутствует</th>
            </tr>
          </thead>

          <tbody>
            {% for student in course.students.all %}
              <tr>
                <th scope="row">{{for.count}}</th>
                <td>{{student.name}}</td>
                <td>{{student.school}}</td>
                <td>{{student.telephone}}</td>
                <td>{{student.email}}</td>
                <td>{{student.parent_telephone}}</td>
                <td><input onclick="mark_attendance({{student.id}}, {{course.id}})"type="checkbox" name="checkbox" {% if student in course.attendance %}checked{% endif %} {% if request.user.type == "PR" %}disabled{% endif %}></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
  function mark_attendance(student_id, course_id){
    var xhr = new XMLHttpRequest();
    xhr.open('GET', `{% url 'mark_attendance' %}?student_id=${student_id}&course_id=${course_id}`, false);

    xhr.onload = function() {
      console.log(xhr.status);
      if(xhr.status != 200){
        toastr.error(`Что-то пошло не так! Проверьте интернет соединение`)
      }else{
        toastr.success(`Отмечено!`);
      }
    };

    xhr.send(null);

  }

</script>

{% endblock %}
