{% extends 'base.html'%}

{% block content %}

<!-- Layout content -->
<div class="layout-content">
  <div class="portfolio-image ui-rect ui-bg-cover" style="background-image: url('/media/{{school.image}}');">
    <div class="container-fluid bg-dark pt-2 pb-2">
      <div class="ml-4">
        <h4 class="font-weight-bold text-white mb-0">{{school.name}} <span class="text-muted font-weight-normal"></span></h4>
        <div class="text-light">{{school.locality}}</div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="container-fluid flex-grow-1 container-p-y">

    <div class="media align-items-center py-3 mb-3">
      <div class="media-body ml-4">

        {% if request.user == school %}
          <a href="javascript:void(0)" class="btn btn-primary btn-sm">Edit</a>&nbsp;
          <a href="javascript:void(0)" class="btn btn-default btn-sm">Profile</a>&nbsp;
          <a href="javascript:void(0)" class="btn btn-default btn-sm icon-btn"><i class="ion ion-md-mail"></i></a>
        {% endif %}
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <table class="table user-view-table m-0">
          <tbody>
            <tr>
              <td>Адрес:</td>
              <td>{{school.address}}</td>
            </tr>
            <tr>
              <td>Количество детей:</td>
              <td>{{school.child_amount}}</td>
            </tr>
            <tr>
              <td>Количество курсов:</td>
              <td>{{school.course_set.all|length}}</td>
            </tr>
            {% if school.type != 'CE' %}
              <tr>
                <td>Учебные классы:</td>
                <td><span class="badge badge-outline-success">{{school.min_grade}}-{{school.max_grade}}</span></td>
              </tr>
            {% endif%}
          </tbody>
        </table>
      </div>
      <hr class="border-light m-0">
      <div class="table-responsive">
        <table class="table card-table m-0">
          <tbody>
            <tr>
              <th>Учебные дни</th>
              <th>Математика </th>
              <th>Физика </th>
              <th>Информатика </th>
              <th>Биология </th>
            </tr>
            <tr>
              <td>5 класс</td>
              <td><span class="ion ion-md-checkmark text-primary"></span></td>
              <td><span class="ion ion-md-close text-light"></span></td>
              <td><span class="ion ion-md-close text-light"></span></td>
              <td><span class="ion ion-md-close text-light"></span></td>
            </tr>
            <tr>
              <td>6 класс</td>
              <td><span class="ion ion-md-checkmark text-primary"></span></td>
              <td><span class="ion ion-md-checkmark text-primary"></span></td>
              <td><span class="ion ion-md-checkmark text-primary"></span></td>
              <td><span class="ion ion-md-close text-light"></span></td>
            </tr>
            <tr>
              <td>7 класс</td>
              <td><span class="ion ion-md-close text-light"></span></td>
              <td><span class="ion ion-md-close text-light"></span></td>
              <td><span class="ion ion-md-close text-light"></span></td>
              <td><span class="ion ion-md-close text-light"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="row no-gutters row-bordered">
        <div class="d-flex col-md align-items-center">
          <a href="javascript:void(0)" class="card-body d-block text-dark">
            <div class="text-muted small line-height-1">Объявлений</div>
            <div class="text-xlarge">125</div>
          </a>
        </div>
        <div class="d-flex col-md align-items-center">
          <a href="javascript:void(0)" class="card-body d-block text-dark">
            <div class="text-muted small line-height-1">Учителей</div>
            <div class="text-xlarge">534</div>
          </a>
        </div>
        <div class="d-flex col-md align-items-center">
          <a href="javascript:void(0)" class="card-body d-block text-dark">
            <div class="text-muted small line-height-1">Еще что-то</div>
            <div class="text-xlarge">236</div>
          </a>
        </div>
      </div>
      <hr class="border-light m-0">
      <div class="card-body">
        {{school.description|safe}}

        <h6 class="mt-4 mb-3">Главные лица</h6>

        <table class="table user-view-table m-0">
          <tbody>
            <tr>
              <td>Директор:</td>
              <td>{{school.head}}</td>
            </tr>
            <tr>
              <td>Заместитель директора:</td>
              <td>{{school.subhead}}</td>
            </tr>
          </tbody>
        </table>

        <h6 class="mt-4 mb-3">Дополнительная информация</h6>

        <table class="table user-view-table m-0">
          <tbody>
            <tr>
              <td>Дата основания:</td>
              <td>3 мая 1995</td>
            </tr>
          </tbody>
        </table>

        <h6 class="mt-4 mb-3">Контактные данные</h6>

        <table class="table user-view-table m-0">
          <tbody>
            <tr>
              <td>Почта:</td>
              <td><a href="mailto:{{school.email}}">{{school.email}}</a></td>
            </tr>
            <tr>
              <td>Телефон:</td>
              <td><a href="tel:{{school.telephone}}">{{school.pretty_telephone}}</a></td>
            </tr>
            <tr>
              <td>Сайт:</td>
              <td><a href="{{school.site}}">{{school.site}}</a></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
  <!-- / Content -->
</div>
<!-- Layout content -->

{% endblock %}
